<h1>Login</h1>
<div id='login'>
    {{message | json}}
    <form materialize (submit)="onSubmit()" #formObject='ngForm'>
        <label for="email">Email<span *ngIf='email?.valid !== true'>{{email?.errors | json}}</span></label>
        <input type="text" name="email" required minlength="4" maxlength="100" pattern="^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$" [(ngModel)]="userInstance.email" #email='ngModel' />
        <label for="password">Password<span *ngIf='password?.valid !== true'>{{password?.errors | json}}</span></label>
        <input type="text" name="password" required minlength="8" maxlength="24" pattern="^([a-zA-Z0-9@*#]{8,15})$" [(ngModel)]="userInstance.password" #password='ngModel' />
        <input type="submit" [disabled]="formObject.invalid">
    </form>
</div>